<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="refreshEstate($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-card >
    <img src="{{estate.image}}">
    <ion-card-content>
      <ion-button size="small" fill="outline" slot="start" (click)="onSaveEstatesButtonClick()">
        <ion-icon name="bookmark"></ion-icon>
        {{saveEstatesButtonTitle}}
      </ion-button>
      <ion-grid>
        <ion-row>
          <ion-col>
            <p>{{estate.type}}</p>
          </ion-col>
          <ion-col>
            <p>Area: {{estate.area}} m<sup>2</sup></p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <span>
              <ion-badge color="primary">{{estate.bedrooms}}</ion-badge>
              Bedrooms
            </span>
          </ion-col>
          <ion-col>
            <p>Price: ${{estate.price}}</p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>
