<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="estates/:{{city}}"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button side="right" routerLink="/" routerDirection="forward">
         <ion-icon   size="large" name="home"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      Ref. No {{estate.refNumber}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-tabs slot="fixed">
    <ion-tab-bar slot="bottom"> 
      <ion-tab-button tab="overview">
        <ion-icon name="information-circle"></ion-icon>
        <ion-label>Overview</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="map">
        <ion-icon name="map"></ion-icon>
        <ion-label>Map</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="similar">
        <ion-icon name="photos"></ion-icon>
        <ion-label>Similar</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
